.carousel {
  position: relative;
  width: 100%;
}

.carousel-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  z-index: 1;
}

.carousel-info {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 1rem;
  border-radius: .5rem;
  z-index: 2;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a.button {
  display: inline-block;
  margin: 1rem 0 .5rem 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}

a.button:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.carousel-image {
  width: 100%; /* Added */
  height: 100%; /* Added */
  object-fit: cover; /* Added */
  border-radius: .5rem;
  border: 2px solid var(--accent-color);
}

.carousel-navigation {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1;
}

.carousel-arrow {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--accent-color);
}

.carousel-indicators {
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: var(--accent-color);
  transform: scale(1.35);
}

@media (max-width: 960px) {
  .carousel-info {
    left: 30%;
  }
}

@media (max-width: 600px) {
  .carousel-info {
    left: 40%;
  }
}
