.carousel {
  position: relative;
  width: 100%;
}

.carousel-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  z-index: 1;
}

.carousel-info {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 10px;
  z-index: 2;
  background-color: var(--primary-color);
}

.carousel-image {
  width: 100%; /* Added */
  height: 100%; /* Added */
  object-fit: cover; /* Added */
}

.carousel-navigation {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 2;
}

.carousel-arrow-right {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel-arrow-left {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel-indicators {
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: black;
}
