.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h3 {
  color: var(--accent-color);
}

.footer-row {
  display: flex; /* Add this line */
  flex-direction: row; /* Change this line */
  justify-content: center;
  align-items: center; /* Optional: Align items vertically within the row */
  padding: 5px 0;
  box-sizing: border-box;
}

.footer-row .footer-socials {
  font-size: 2rem;
  color: var(--secondary-color);
}

#footer {
  margin-top: auto;
  width: 100%;
}

.footer-img {
  display: block;
  margin: 0 auto;
  max-width: 120px;
}
