* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-logo .navbar-img {
  height: 80%;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid var(--accent-color);
}

.nav-links {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: var(--accent-color);
}

.nav-links:hover .navbar-icon {
  color: var(--accent-color) !important;
}

.activated {
  color: var(--accent-color);
}

.activated .navbar-icon {
  color: var(--accent-color) !important;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }

  .nav-links:hover .navbar-icon {
    color: var(--accent-color) !important;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
