.carousel {
  position: relative;
  width: 100%;
}

.carousel-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  z-index: 1;
}

.carousel-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 1rem;
  z-index: 2;
  color: var(--secondary-color);
  text-align: center;
}


.carousel-info h2 {
  font-size: 4rem;
}

.carousel-info p {
  font-size: 1.5rem;
}

a.button {
  display: inline-block;
  margin: 1rem 0 0.5rem 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all .25s;
}

a.button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.carousel-image {
  width: 100%; /* Added */
  height: 100%; /* Added */
  object-fit: cover; /* Added */
  border-radius: 0.5rem;
  transform: all .5s;
}

.carousel-navigation {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1;
  user-select: none;
}

.carousel-arrow {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--accent-color);
  transition: color 0.25s; /* Added transition property */
}

.carousel-arrow:hover {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--secondary-color);
}

.carousel-indicators {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.25s; /* Added transition property */
}

.carousel-indicator.active {
  background-color: var(--secondary-color);
  transform: scale(1.35);
}

.carousel-indicator:hover {
  background-color: var(--secondary-color);
  transform: scale(1.35);
}

@media (max-width: 960px) {
  .carousel-info {
    left: 30%;
  }
}

@media (max-width: 600px) {
  .carousel-info {
    left: 40%;
  }
}
