:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: hsl(180, 95%, 23%);
  --primary-opaque: hsla(180, 95%, 23%, .8);
  --secondary-color: hsla(176, 100%, 52%, 1);
  --accent-color: hsla(176, 88%, 10%, 1);
  background-color: var(--primary-color);
}
